.header {
  width: 100%;
  display: flex;
  flex-direction: column;

  .headerUI{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    flex-wrap: wrap;
  }

  .rightPart{
    display: flex;
    gap: 20px; 
    align-items: center;
    flex-wrap: wrap;
  }
}
